@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);

  --color-primary-accent: #FBDA00;
  --color-base-dark: #000000;
  --color-base-light: #FFFFFF;
  --color-surface-gray: #F5F5F5;
  --color-border: #E5E5E5;
  
  --color-text-primary: #0A0A0A;
  --color-text-secondary: #6B6B6B;
  --color-text-disabled: #ABABAB;
  
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --color-background: var(--color-base-light);
  --color-foreground: var(--color-text-primary);
}

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #0A0A0A;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), sans-serif;
  }
}
